{% extends "base.html.twig" %}
{% block body %}
    <h1>Willkommen auf TodoList</h1>
    <small>Your random number is <span class="badge badge-secondary">{{ number }}</span></small>
{% endblock %}

