<form method="post" action="{{ path('todo_delete', {'id': todo.id}) }}" onsubmit="return confirm('Wollen sie das Todo Wirklich löschen?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
    <button class="btn btn-danger mt-2">Löschen</button>
</form>
