{% extends 'base.html.twig' %}

{% block title %}Todo bearbeiten{% endblock %}

{% block body %}
    <h1>Todo bearbeiten</h1>

    <div class="row">
        <div class="col">
            {{ include('todo/_form.html.twig') }}
            {{ include('todo/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
