<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ToDoList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href=/random/number/>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/todo/own">Deine ToDos</a>
                <a class="nav-item nav-link" href="/todo/contributingTo">Andere ToDos</a>
                <a class="nav-item nav-link" href="/todo/category">Kategorien</a>
                <a class="nav-item nav-link" href="/logout">Abmelden</a>
            </div>
        </div>
    </nav>
</header>